<!DOCTYPE html>
<html id="lebenskunst" xmlns="http://www.w3.org/1999/xhtml" lang="{{ site.lang | default: "de-DE" }}" xml:lang="{{ site.lang | default: "de-DE" }}">

<head>
  <meta charset="UTF-8">

  <title>
    {{ site.title | default: site.github.repository_name }}
  </title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="shortcut icon" href="/gfx/favicon/lebenskunst-icon.ico" / />
  <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/gfx/favicon/lebenskunst-icon.ico" />
  <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/gfx/favicon/lebenskunst-icon.ico" />
  <link rel="icon" href="/gfx/favicon/lebenskunst-icon-32.png" sizes="32x32" />
  <link rel="icon" sizes="192x192" href="/gfx/favicon/lebenskunst-icon-192.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/gfx/favicon/lebenskunst-icon-152-precomposed.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/gfx/favicon/lebenskunst-icon-144-precomposed.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/gfx/favicon/lebenskunst-icon-120-precomposed.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/gfx/favicon/lebenskunst-icon-114-precomposed.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/gfx/favicon/lebenskunst-icon-180-precomposed.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/gfx/favicon/lebenskunst-icon-72-precomposed.png" />
  <link rel="apple-touch-icon" href="/gfx/favicon/lebenskunst-icon-57.png" />

  <meta name="theme-color" content="#ffffff" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/gfx/favicon/lebenskunst-icon-144.png" />

  <link rel="manifest" href="/manifest.json" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% seo title=false %}

  <link rel="stylesheet" href="{{ "/css/lebenskunst.css?v=" | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <header>
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
    </header>
    <main>

      {{ content }}

    </main>
    <footer>
   </footer>
  <script src="{{ "/js/lebenskunst.js" | relative_url }}"></script>
</body>

</html>
